
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 SiteMinder</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $('#formMailer').off().on('submit', function(event) {
        var form = $(this)[0];
        event.preventDefault();

        if (form.checkValidity() === false) {
          event.stopPropagation();
        } else {
          $('#btnSubmit').prop('disabled', true);
          var ajaxRequest = $.ajax({
            url: "/api/mail/send",
            type: "POST",
            dataType: 'json',
            data: $(this).serialize(),
          });
          ajaxRequest.done(function(data, textStatus, jqXHR) {
            // console.info(data);
            alert("[" + data.data.providerName + "] " + data.message);
            form.reset();
            form.classList.remove('was-validated');
          });
          ajaxRequest.fail (function(jqXHR, textStatus, errorThrown) {
            alert("Error: " + textStatus);
          });
          ajaxRequest.always (function(jqXHROrData, textStatus, jqXHROrErrorThrown) {
            $('#btnSubmit').prop('disabled', false);
          });
        }

        form.classList.add('was-validated');
        return false;
      });
    });
  </script>
</body>
</html>
